@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --primary-color: #000000;
    --secondary-color: #f6f6f6;
    --tertiary-color: rgb(247, 68, 68);
    --hover-color: #272727;

    --primary-font: 'krona one', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    box-sizing: border-box;
}

.header {
    padding: 2% 0 0 15%;
}

.header__menu {
    display: flex;  
    gap: 80px;
}

.header__menu__link {
    font-family: var(--secondary-font), sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--tertiary-color);
    cursor: pointer;
    text-decoration: none;
}

.presentation {
    padding: 7% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 82px;
}

.presentation__content__title {
    font-size: 2.25rem;
    font-family: var(--primary-font), sans-serif;
}

.title-highlight {
    color: rgb(199, 44, 44);
}

.presentation__content__text {
    font-size: 1.5rem;
    font-family: var(--secondary-font), sans-serif;
}

.presentation__content__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentation__content__links__subtitle {
    font-size: 1.5rem;
    font-family: var(--primary-font), sans-serif;
    font-weight: 400;
}

.presentation__content__links__link {
    /* background-color: var(--tertiary-color); */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--tertiary-color);
    width: 60%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: var(--secondary-font), sans-serif;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
}

.presentation__content__links__link:hover {
    background-color: var(--hover-color);
    transition: 0.15s;
    transform: scale(1.02) translateY(-2px);
}

.presentation__img {
    width: 50%;   
}

.footer {
    padding: 24px;
    color: var(--primary-color);
    background-color: var(--tertiary-color);
    text-align: center;
    font-family: var(--secondary-font), sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
    }
    
    .presentation {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation__content {
        width: auto;
    }
}
    